{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="aknbam">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Sada</title>
    <link rel="icon" type="image/x-icon" href="{% static '../sada/static/assets/images/logos/sadaicon.ico' %}">

    <!-- Bootstrap core CSS -->
    <link href="{% static '../sada/static/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static '../sada/static/assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static '../sada/static/assets/css/product-sada.css' %}">
    <link rel="stylesheet" href="{% static '../sada/static/assets/css/owl.css' %}">
    <link rel="stylesheet" href="{% static '../sada/static/assets/css/lightbox.css' %}">

  </head>

<body>

  <!-- Sub Header -->
  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8">
          <div class="left-content">
            <p>{% trans 'Biziň önümlerimiz hem edil biz ýaly'%} <em>{% trans 'SADA' %}</em></p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky" style="
  background-color: rgba(7, 24, 73, 0.904);">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="{% url 'index' %}" class="logo">
                        <img src="{% static '../sada/static/assets/images/logos/sada-enter.png' %}" alt="SADA" width="75" height="75">
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li><a href="{% url 'index' %}">{% trans 'Baş sahypa'%}</a></li>
                          <li><a href="{% url 'product' %}">{% trans 'Önümler' %}</a></li>
                          
                          <li><a href="{% url 'history' %}">{% trans 'Firmanyň taryhy'%}</a></li>
                          <li><a href="{% url 'contact_us' %}" class="active">{% trans 'Habarlaşmak üçin'%}</a></li>
                          <li class="has-sub">
                            <a href="javascript:void(0)" class="logo">
                                <img src="{% static '../sada/static/assets/images/language.png' %}" alt="TM" style="width:40px; height:40px">
                            </a>
                            <ul class="sub-menu">
                                <li><a>{% include 'inc/lang.html' %}</a></li>
                            </ul>
                        </li>
                      </ul>        
                      <a class='menu-trigger'>
                          <span>{% trans 'Menu'%}</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->


  <section class="contact-us" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 align-self-center">
          <div class="row">
            <div class="col-lg-12">
              <form id="contact" action="" method="post">
                <div class="row">
                  <div class="col-lg-12">
                    <h2>{% trans 'Teklipler üçin'%}</h2>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                        <label for="name"></label><input name="name" type="text" id="name" placeholder="{% trans 'Adyňyz we Familiýaňyz' %}" maxlength="40" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                        <label for="email"></label><input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="{% trans 'Elektron poçtaňyz'%}" maxlength="70" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                        <label for="subject"></label><input name="subject" type="text" id="subject" placeholder="{% trans 'Teklibiňiz' %}" maxlength="40" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                        <label for="message"></label><textarea name="message" type="text" class="form-control" id="message" placeholder="{% trans 'Şu ýere ýazyň...' %}" maxlength="1000" required=""></textarea>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="icon">
                        <img src="{% static '../sada/static/assets/images/send.png' %}" alt="Send" width="30" height="30">
                      </button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="right-info">
            <ul><div style="text-align: center;">
              <li>
                <h6 style="color: aqua;">{% trans 'Habarlaşmak üçin:' %}</h6>
                <span>+993 522 2 22 20 <br> +993 63 59 15 14 <br> +993 63 93 57 57</span>
              </li>
              <li>
                <h6 style="color: aqua;">{% trans 'E-mail:'%}</h6>
                <span>info@sada.com.tm</span>
              </li>
              <li>
                <h6 style="color: aqua;">{% trans 'Salgymyz:'%}</h6>
                <span>{% trans 'Mary welaýatynyň '%}<br>{% trans ' Mary şäheri'%}</span>
              </li>
              <li>
                <h6 style="color: aqua;">{%trans 'Web sahypamyz:'%}</h6>
                <span>www.sada.com.tm</span>
              </li></div>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer" style="background-color: rgba(4, 19, 70, 0.692); padding-top: 25px; padding-bottom: 25px; margin-top: 25px">
      <table style="background-color: aqua;"><p> COPYRIGHT © 2023 SADA HK., Ltd. {% trans 'Ähli maglumatlar goragly.'%}
        <br>{% trans 'Designer:'%} <a href="" target="_parent" title="Akyyev Nedir +99365592820 & Bahtyyarov Merdan +99363750704">akn-bam</a></p></table>
    </div>
  </section>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="{% static '../sada/static/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static '../sada/static/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static '../sada/static/assets/js/isotope.min.js' %}"></script>
    <script src="{% static '../sada/static/assets/js/owl-carousel.js' %}"></script>
    <script src="{% static '../sada/static/assets/js/lightbox.js' %}"></script>
    <script src="{% static '../sada/static/assets/js/tabs.js' %}"></script>
    <script src="{% static '../sada/static/assets/js/slick-slider.js' %}"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
</body>
</html>